    <div class="backgroundcontainer" style="background-image:url({{profileimage}})">
    <div class="indexcontainer">
        <ul>
            <li>
                <div class="namebox">
                    <h3 class="name">I'm Dinesh Adhithya</h3>
                </div>
            </li>
            <li>
                <div class="descriptionbox">
                    <h3 id="dummy" class="description">A Programming enthusiast who loves to learn, build and tinker with
                       computers. Extreme opinions. Irrepressibly curious. Fascinates writing.                  
                    </h3>
                </div>
            </li>
        </ul>
        <div class="iconcontainer">
            <ul>
                <li>
                    <a target="_blank" href="https://github.com/DineshAdhi?tab=repositories"><img class="icon" type="image/svg"
                            src="icons/github.png" /></a>
                    <a target="_blank" href="https://www.linkedin.com/in/dinesh-adhithya-98096a7b/"> <img class="icon"
                            type="image/svg" src="icons/linkedin.svg" /> </a>
                    <a target="_blank" href="https://dineshthoughts.wordpress.com/"> <img class="icon" type="image/svg"
                            src="icons/wordpress.svg" /> </a>
                    <a target="_blank" href="https://medium.com/@dinesh10c04"> <img class="icon" type="image/svg"
                            src="icons/medium.svg" /> </a>
                    <a target="_blank" href="https://www.quora.com/profile/Dinesh-Adhithya-1"> <img class="icon" type="image/svg"
                            src="icons/quora.svg" /> </a>
                    <a target="_blank" href="mailto:dinesh10c04@gmail.com"> <img class="icon" type="image/svg" src="icons/gmail.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="posts" class="pagecontainer">
       <h2 class="topicname">BLOG POSTS</h2>
        <div class="postcontainer">

            {{#each posts}}

                <a target="_blank" href="/posts?id={{id}}" onclick="trigger('{{id}}')">
                    <div class="postbox">
                        <div class="post">
                            <text id={{id}}_title class="posttitle"> {{title}} </text>
                            <img class="eyefavicon" src = "/icons/eyefavicon.ico"/> 
                            <text id={{id}}_views class="countertext"> {{views}} Views </text>
                        </div>
                    </div>
                </a>
                
            {{/each}}

        </div> 
</div>